#otherInput {
    display: none;
}
#other:checked ~ #otherInput {
    display: block;
}

#firstInput {
    display: none;
}
#fother:checked ~ #firstInput {
    display: block;
}

#thirdInput {
    display: none;
}
#th_other:checked ~ #thirdInput {
    display: block;
}

#fourthInput {
    display: none;
}
#yes_below:checked ~ #fourthInput {
    display: block;
}

#fifthInput {
    display: none;
}
#yes_pets:checked ~ #fifthInput {
    display: block;
}

#sixthInput {
    display: none;
}
#yes_past:checked ~ #sixthInput {
    display: block;
}

#seventInput {
    display: none;
}
#tenth_other:checked ~ #seventInput {
    display: block;
}

#eightInput {
    display: none;
}
#yes_allergic:checked ~ #eightInput {
    display: block;
}

#ninthInput {
    display: none;
}
#twelth_other:checked ~ #ninthInput {
    display: block;
}

#tenthInput {
    display: none;
}
#yes_rent:checked ~ #tenthInput {
    display: block;
}


input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Change the color as needed */
  }