*{
    font-family: Helvetica;

}

#otherInput {
    display: none;
}
#other:checked ~ #otherInput {
    display: block;
}

#firstInput {
    display: none;
}
#fother:checked ~ #firstInput {
    display: block;
}

#thirdInput {
    display: none;
}
#th_other:checked ~ #thirdInput {
    display: block;
}

#fourthInput {
    display: none;
}
#yes_below:checked ~ #fourthInput {
    display: block;
}

#fifthInput {
    display: none;
}
#yes_pets:checked ~ #fifthInput {
    display: block;
}

#sixthInput {
    display: none;
}
#yes_past:checked ~ #sixthInput {
    display: block;
}

#seventInput {
    display: none;
}
#tenth_other:checked ~ #seventInput {
    display: block;
}

#eightInput {
    display: none;
}
#yes_allergic:checked ~ #eightInput {
    display: block;
}

#ninthInput {
    display: none;
}
#twelth_other:checked ~ #ninthInput {
    display: block;
}

#tenthInput {
    display: none;
}
#yes_rent:checked ~ #tenthInput {
    display: block;
}


input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Change the color as needed */
  }


  ::-webkit-scrollbar {
    width: 10px;
}
 

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
 
  .carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(185 28 28);

}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(239 68 68);

}

.fadein{
  animation-name:fadefade;
  animation-duration: 10s;

}

.animation-opacity{
  animation-name:fadefade;
  animation-duration: 5s;
}

@keyframes fadefade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }

}

  
 
 
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }